<script>
    $(function () {
        $("body").addClass("darker");
    })
</script>

<style>
    @font-face {
        font-family: 'noted';
        src: url(fonts/notes.ttf);
    }
    
    @font-face {
        font-family: 'noted_b';
        src: url(fonts/notes_b.otf);
    }
    
    .listholderleft>.listitemleft {
        min-height: 3em;
        color: 000;
        padding: 1.6em;
        width: 100%;
        font-family: 'noted_b';
        font-weight: 500;
        -moz-border-radius: 1em 4em 1em 4em;
        border-radius: 1em 4em 1em 4em;
        margin-bottom: 1em;
    }
    
    .listholderright>.listitemright {
        min-height: 3em;
        width: 100%;
        font-weight: 500;
        padding: 1.6em;
        font-family: noted_b;
        -moz-border-radius: 4em 1em 4em 1em;
        border-radius: 4em 1em 4em 1em;
        margin-bottom: 1em;
    }
</style>

<div class="alert" style=" width:96%; margin: 0 auto; min-height: 100%; padding-top: 60px; margin-top: 0px !important; background:white;" id="notesbar">

    <div class="listholderleft text-danger;" style="width: 95%; margin:0 auto;">
        <div class="listitemleft bg-success"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis, ipsam nemo dolore totam saepe excepturi assumenda, recusandae voluptas autem magni quia fugiat nulla accusantium inventore sint est alias, officia iste? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias, dolorum. Dignissimos architecto illum accusamus vel, officia ullam. Debitis tempore, corrupti, iure iste repudiandae tenetur omnis recusandae, qui maxime, repellendus magnam!Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est velit eum et saepe autem a, porro earum! Iusto optio cum quis, neque ab tempora illo atque cupiditate esse recusandae, aliquid! </div>
    </div>

    <div class="listholderright" style="width: 95%; margin:0 auto;">
        <div class="listitemright bg-info text-danger">
            <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima, nobis molestiae. Deleniti laborum alias a nesciunt adipisci eveniet minima, asperiores tempore. Omnis vero eaque, doloribus consequatur facere, consectetur nemo numquam.</div>
            <div>Suscipit, vitae accusamus neque at, obcaecati sequi, corporis tenetur consequuntur quo dicta, reprehenderit delectus amet explicabo mollitia id eveniet! Dignissimos molestias voluptate adipisci, aperiam doloremque culpa quidem vitae explicabo suscipit.</div>
            <div>Ea dignissimos ducimus nisi ut qui a maxime alias aut tenetur officia quibusdam aspernatur itaque sint, ipsum illo possimus facere quos dolor rerum ex cumque accusamus accusantium eaque natus. Nihil.</div>
            <div>Vitae, laudantium quidem nisi enim nostrum eum cum consequuntur dicta quibusdam, repudiandae nam doloremque expedita eveniet, nihil aliquam nulla error quis. Quis ipsum vel, quod ipsam fugit recusandae, laboriosam magni.</div>
            <div>Soluta odio eveniet magnam, enim deserunt officia ad, quaerat necessitatibus iste commodi a minima. Dolor excepturi ipsum explicabo, velit ad, repudiandae ducimus! Accusantium deserunt illo dignissimos, explicabo at quas cum.</div>
            <div>Consequatur alias natus, dolore aperiam repudiandae ipsam corrupti suscipit, tempora dolores vel aliquam nesciunt delectus possimus sed molestias vitae harum, iusto corporis itaque nostrum molestiae blanditiis modi. Dolorum, exercitationem dolore.</div>
        </div>
    </div>

</div>